# Copy this file to .env and fill in your deployed contract ID
# After running contracts/deploy.sh, paste the Contract ID here:
NEXT_PUBLIC_CONTRACT_ID = "YOUR_NEXT_PUBLIC_CONTRACT_ID"
NEXT_PUBLIC_SIMULATED_SOURCE_ADDRESS = "YOUR_NEXT_PUBLIC_SIMULATED_SOURCE_ADDRESS"